/* Scroll down for note... */

a:link{
    color:green;
    
    text-decoration: none;
}

a:visited{
    color:hotpink;
    
    text-decoration: none;
}

a:hover{
    color:red;
    text-decoration: underline;
}


a:active{
    color:blueviolet;
    
    text-decoration: underline;
}


/*
When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover

*/